html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  height: 100%;
}

#root {
  margin-top: 40px;
}

